<center>
    <a href="https://www.aims-senegal.org/" ><img src="aimssn_logo.png" style="float:center; max-width: 600px; display: inline" alt="IMSP"/> </a>
    </center>
    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Practicals: Variables, Types & Operations </span> </b></center>

**Exercise 00:**  

> 1. Declare a variable `firstname` and assign it a value.
> 2. Declare a `lastname` variable and assign a value to it.
> 3. Declare a `full_name` variable and assign it a value.
> 4. Declare a `country` variable and assign it a value.
> 5. Declare a variable `city` and assign it a value.
> 6. Declare a `age` variable and assign it a value.
> 7. Declare a variable `year` and assign it a value.
> 8. Declare a variable `is_marrie` and assign it a value.
> 9. Declare a variable `is_true` and assign it a value.

> For each of the above variable, display the value it contains using the `print()` function.

In [23]:
firstname = "fatou "
print(firstname)
lastname ="tine"
print(lastname)
full_name ="fatou tine"
print(full_name)
country ="senegal"
print(country)
city = "mbour"
print(city)
age =20
print(age)
year = '2022'
print(year)
is_marrie = no
print(is_marrie)
is_true ="yes"
print(is_true)

fatou
tine
fatou tine
senegal
mbour
20
2022
no
yes

**Exercise 01:** 
> Check the data type of all your variables using the built-in function `type()`.**

In [34]:
type(firstname)

str

In [35]:
type(lastname)

str

In [36]:
type(full_name)

str

In [38]:
type(country)

str

In [39]:
type(city)

str

In [40]:
type(age)

int

In [41]:
type(year)

str

In [42]:
type(is_marrie)

str

In [43]:
type(is_true)

str

**Exercise 02:** 
> Calculate the value of $y$ ($y = x^2 + 6x + 9$). Try using different values of $x$ and determine at what value of $x$ will $y$ be equal to 0.**

In [46]:
x=float(-3)
y = x**2+6*x+9
print(x,y)

-3.0 0.0

**Exercise 03:** 
>    
     1. Declare your age as an integer variable
     2. Declare your height as a float variable
     3. Declare a variable that stores the base and height of a triangle. Calculate the area of this triangle (area = 0.5 x b x h).

In [ ]:
age=20
height=2,1

In [47]:
b=3
h=2
stock=(b,h)
aire= 0.5*b*h
print(aire)

3.0

## *Tip: receiving input from the user *
**To receive an input from the user, we use `input()`.**.

**Example**
Receive two numbers as input from the user and calculate their power:
```python
base = input("Enter a base: ")
exponent = input("Enter an exponent: ")
result = float(base) ** float(exponent)
print(f "{base} to the power of {exponent} = {result}")
```

**Exercise 04:** 
> **Write a small code that asks the user to enter the side $a$, the side $b$ and the side $c$ of a triangle. Calculate the perimeter of the triangle (perimeter = a + b + c).**

In [48]:
a=input("enter the side a please: ")
b=input("enter the side b please: ")
c=input("enter the side c please: ")
perimeter=float(a)+float(b)+float(c)
print(perimeter)

enter the side a please: 6
enter the side a please: 3
enter the side a please: 2
11.0

**Exercise 05:** 
> **Obtain the length and width of a rectangle using the prompt. Calculate its `area`and its `perimeter`.**

In [50]:
L=int(input( "donner la longueur"))
l=int(input( "donner la largeur"))
p=(L+l)*2
a=(L*l)
print(p,a)

donner la longueur5
donner la largeur3
16 15

**Exercice 06:** 
> **Obtenez le rayon d'un cercle en utilisant l'invite. Calculez l'aire (aire = pi x r x r) et la circonfÃ©rence (c = 2 x pi x r) oÃ¹ pi = 3,14.**

In [57]:
pi=3.14
r=int(input("donner le rayon"))
aire =pi*r*r
c=2*pi*r
print(aire,c)

donner le rayon2
12.56 12.56

**Exercice 07:**
> **Calculez la pente, l'ordonnÃ©e Ã  l'origine en x et l'ordonnÃ©e Ã  l'origine en $y$ de $y = 2x -2$.**

In [61]:
x=float(2)
y=2*x-2
a=(y+2)/x
a

2.0

**Exercice 08:** 
> **RÃ©digez un script qui demande Ã  l'utilisateur d'entrer les heures et le taux horaire. Calculez la rÃ©munÃ©ration de la personne ?**

In [74]:
h=int(input("donner le nombre d'heures"))
t=int(input("donner le taux horaire"))
r=h*t
print(r)

donner le nombre d'heures15
donner le taux horaire5000
75000

**Exercice 09:** 
> **Ã‰crivez un script qui demande Ã  l'utilisateur d'entrer le nombre d'annÃ©es. Calculez le nombre de secondes qu'une personne peut vivre. Supposons qu'une personne puisse vivre cent ans.**

In [78]:

gaby=100
jour=float(100)*float(365)
print(jour)
h=24*float(jour)
print(h)
s=3600*float(h)
print(s)

36500.0
876000.0
3153600000.0

**Exercice 10:** 
> **Ã‰crivez un script Python qui affiche le tableau suivant**

    1 1 1 1 1
    
    2 1 2 4 8
    
    3 1 3 9 27
    
    4 1 4 16 64
    
    5 1 5 25 125

In [72]:
print(1,1,1,1,1)
print("")
print(2,1,2,4,8)
print("")
print(3,1,3,9,27)
print("")
print(4,1,4,16,64)
print("")
print(5,1,5,25,125)

1 1 1 1 1

2 1 2 4 8

3 1 3 9 27

4 1 4 16 64

5 1 5 25 125

**Exercise 11:** 
>**Assign the variables `time` and `distance` with the values $6.892$ and $19.7$. Calculate and display the value of the speed. Improve the display by imposing a digit after the decimal point.**

In [93]:
time=6.892
distance=19.7
speed=(float(distance / time))
print(" %.1f" % speed)

 2.9

**Exercice 12:** 
> **Ã‰crire un programme qui, Ã  partir de la saisie dâ€™un rayon et dâ€™une hauteur, calcule levolume dâ€™un cÃ´ne droit.**

In [4]:
r=input("donner le rayon du cone: ")
h=input("donner la hauteur du cone: ")
pi=3.14
a=float(pi)*float(r)* float(r)
print(a)
v=(float(a)*float(h))/3
print(v)

donner le rayon du cone: 4
donner la hauteur du cone: 15
50.24
251.20000000000002

**Exercise 13:** 
> **The user gives a positive integer and the program announces how many times in a row this integer is divisible by 2.**

In [11]:
n=int(input("donner un nombre positve: "))
if n%2 != 0:
    print("n'est pas divisible par 2")
else :
    for i in range(0, n):
        if 2*i == n:
            print(i)

donner un nombre positve: 6
3

**Exercise 14:** 
>**The user gives an integer between 2 and 12, the program gives the number of ways to do this by rolling two dice.

In [13]:
n = int(input("entrer un nombre"))
if n >=2 and n <=12:
    print(n)
else:
    print("entrer un nombre compris entre 2 et 12")
d1 =[1,2,3,4,5,6]
d2 =[1,2,3,4,5,6]
for i in range (0, len(d2)):
    for j in range (0, len(d2)):
        d = d1[i]+ d2[j]
    if d == n :
        print (d1[i], d2[j])

entrer un nombre10
10
4 6

**Exercice 15:** 
> **Utilisez la fonction d'entrÃ©e intÃ©grÃ©e `input()` pour obtenir le `_prÃ©nom_`, le `_nom_`, le `_pays_d_origine` et l'`_age_` d'un utilisateur et stockez la valeur dans les noms des variables correspondantes.**

In [15]:
_prenom = input('Donner votre prÃ©nom: ')
_nom = input('Donner votre nom: ')
_age = int(input('Donner votre age: '))
_pays_d_origine = input('Donner votre pays dorigine: ')

Donner votre prÃ©nom: Gabriel
Donner votre nom: DIOUF
Donner votre age: 26
Donner votre pays dorigine: SÃ©nÃ©gal

**Exercice 16:** 

**DÃ©clarer $5$ comme `num_one` et $4$ comme `num_two`**

   1. Additionner `num_one` et `num_two` et affecter la valeur Ã  une variable `totale`.
   2. Soustraire `num_two` de `num_one` et affecter la valeur Ã  une variable `diff`.
   3. Multipliez le `num_one` et le `num_two` et attribuez la valeur Ã  une variable `produit`.
   4. Divisez le `num_one` par le `num_two` et attribuez la valeur Ã  une variable `division`.
   5. Calculez `num_one` Ã  la puissance de `num_two` et attribuez la valeur Ã  une variable `exp`.

In [84]:
num_one= 5
print(num_one)
num_two= 4
print(num_two)

5
4

In [89]:
totale=num_one + num_two
print(totale)

9

In [88]:
diff= num_one - num_two
print(diff)

1

In [86]:
produit=num_one * num_two
print(produit)

20

In [87]:
division=num_one % num_two
print(division)

1

In [90]:
exp=num_one**num_two
print(exp)

625

<center> <b> <span style="color:orange;"> ðŸŽ‰ FÃ‰LICITATIONS! / CONGRATULATIONS! ðŸŽ‰ </span> </b></center>